<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <style>
        body {
            font-family: Arial;
            margin: 0;
            padding: 0;
        }

        header {
            background: #333;
            color: #fff;
            padding: 10px;
            display: flex;
            gap: 20px;
        }

        header a {
            color: #fff;
            text-decoration: none;
        }

        .products {
            grid-template-columns: 1fr 1fr 1fr;
            display: grid;
            flex-wrap: wrap;
            gap: 20px;
            padding: 20px;
            justify-items: center;
        }

        .card {
            border: 1px solid #ccc;
            padding: 10px;
            width: 300px;
        }

        .card img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

        button.basket:hover {
            background-color: #ffffff;
            color: black;
        }
    </style>
</head>

<body>

    <%- include('../partials/nav.ejs') %>

        <div class="products">
            <% products.forEach(product=> { %>
                <div class="card">
                    <img src="/image/<%= product.image %>" alt="<%= product.ProductName %>">
                    <h3>
                        <%= product.ProductName %>
                    </h3>
                    <p>Price: <%= product.Price %>
                    </p>
                    <p>Stock: <%= product.Stock %>
                    </p>

                    <button
                        style="cursor:pointer;height:40px;width:80px;border-radius:10px;border:none;background-color:#000;color:white;"
                        class="basket" data-id="<%= product.Id %>" data-name="<%= product.ProductName %>"
                        data-price="<%= product.Price %>" data-image="<%= product.image %>">
                        basket
                    </button>
                </div>
                <% }) %>
        </div>

        <script>
            document.addEventListener("click", e => {
                if (!e.target.classList.contains("basket")) return

                const id = e.target.dataset.id
                const name = e.target.dataset.name
                const price = e.target.dataset.price
                const image = e.target.dataset.image

                const item = {
                    id,
                    name,
                    price,
                    image,
                    qty: 1
                }

                let basket = JSON.parse(localStorage.getItem("basket")) || []

                const exist = basket.find(p => p.id == id)

                if (exist) {
                    exist.qty++
                } else {
                    basket.push(item)
                }

                localStorage.setItem("basket", JSON.stringify(basket))

                console.log("Basket:", basket)
                

            })
        </script>


</body>

</html>